src/obj
src/bin
src/.vs
plugins/Borescope/obj
plugins/Camera/obj
plugins/ImageCropper/obj
plugins/LocalNotification/obj
plugins/Borescope/.vs
plugins/Camera/.vs
plugins/ImageCropper/.vs
plugins/LocalNotification/.vs